
/* -------1920--------- */

@media only screen and (min-width:1920px) {

  .container-fluid {
    width: 1903px;
    margin: auto;
  }
  .order-slider .owl-item {
    width: 188px !important;
    margin-right: 10px;
    transition: 1s;
  }
  .testtittle p {
    font-size: 30px;
}
.testtittle h6 {
  font-size: 22px;
}
.testtittle span {
  font-size: 18px;
}
.newsslider .owl-nav {
  margin-top: -702px;
  margin-bottom: 610px;
}
input {
  height: 67px;
}
.secformbtn {
  font-size: 22px;
}
.secfootrbg {
  padding: 0px 150px;
}
.secourpatext3 , .secourpatext , .Whyceotext p , .secourpatext30{
  font-size: 25px;
}
.headermenusec {
  font-size: 22px;
}
.headmenu2 a {
  font-size: 22px;
}
.secourpatext40{
  font-size: 55px;
}
.blogslider .owl-nav {
  margin-top: -566px;
  margin-bottom: 410px;
}
.slidertext h1 {
  font-size: 80px;
}
.sliderbtn a {
  padding: 25px 40px;
  font-size: 25px;
}

}







@media only screen and (max-width:767px) {
  
  .offcanvas-header {
    background: #000;
}
button.navbar-toggler {
  background: #000;
  height: 55px;
}
div#navbarOffcanvas {
  padding-top: 0px;
}
  .herobacksec {
    padding: 177px 20px 0px 20px;
  } 
  .allheadertext h1 {
    font-size: 24px;
  }
  .secherotext h1 {
    font-size: 28px;
  }
  .headermenusec {
    color: #000;
    margin-left: 0px;
    padding-bottom: 20px;
}
.headmenu2 {
  background:transparent;
  border: 0px;
  color: #000;
  padding: 0;
  margin-top: -18px;
  text-transform: capitalize;
}
.secherotext p {
  font-size: 16px;
  width: 100%;
}
.seccountermar {
  margin-top: 50px;
}
.counter-box {
  text-align: center;
}
.secallpaddin {
  padding-top: 50px;
  padding-bottom: 50px;
}
.textviewbtn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
.twoslider .owl-nav {
  margin-top: -510px;
  margin-bottom: 470px;
}
.secpriseflaex {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
.allheadertext22 h1 {
  font-size: 28px;
}
.sidersec2 {
  margin-left: 12px;
}
.secpadboot {
  padding-bottom: 50px;
}

}
